<%- include('./partials/header') %>
    <!-- Begin page content -->
    <div class="container-fluid">
        <!-- page heading -->
        <div class="d-flex align-items-center justify-content-between mb-4 ">
            <h1 class="h3 mb-0 mr-4 text-gray-800 ">Dashboard</h1>
            <a href="# " class="d-none d-sm-inline btn btn-sm btn-primary shadow-sm ">
                <i class="fas fa-download fa-sm text-white-50"></i> Maybe download post
            </a>
            <a href="# " class="d-block d-sm-none btn btn-sm btn-primary shadow-sm" style="display: block; width: 80px;">
                <i class="fas fa-download fa-sm text-white-50"></i>
            </a>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <%- include('../partials/flashMessages') %>
            </div>
        </div>





        <!-- Content row // valutare un FOREACH !! -->
        <div class="row ">

            <!-- Numero frasi (card) -->
            <div class="col-xl-6 col-md-12 mb-4 ">
                <div class="card border-left-primary shadow h-100 py-2 ">
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center ">
                            <div class="col mr-2 ">
                                <div class="text-s font-weight-bold text-primary text-uppercase mb-2 ">
                                    Numero di frasi
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 ">
                                    <a href="/admin/phrases" class="text-dark">
                                        <%= number_phrases %>
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto ">
                                <i class="fas fa-file-contract fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- numero utenti admin -->
            <div class="col-xl-6 col-md-12 mb-4 ">
                <div class="card border-left-success shadow h-100 py-2 ">
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center ">
                            <div class="col mr-2 ">
                                <div class="text-s font-weight-bold text-success text-uppercase mb-2 ">
                                    Numero di admin
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 ">
                                    <a href="/admin/admins" class="text-dark">
                                        <%= number_admins %>
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto ">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr />








        <!-- Content row -->
        <div class="row ">

            <!-- Numero post (card) -->
            <div class="col-xl-6 col-md-12 mb-4 ">
                <div class="card border-left-primary shadow h-100 py-2 ">
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center ">
                            <div class="col mr-2 ">
                                <div class="text-s font-weight-bold text-primary text-uppercase mb-2 ">
                                    Numero di post
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 ">
                                    <a href="/admin/posts" class="text-dark">
                                        <%= number_posts %>
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto ">
                                <i class="fas fa-file-contract fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- numero utenti -->
            <div class="col-xl-6 col-md-12 mb-4 ">
                <div class="card border-left-success shadow h-100 py-2 ">
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center ">
                            <div class="col mr-2 ">
                                <div class="text-s font-weight-bold text-success text-uppercase mb-2 ">
                                    Numero di utenti
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 ">
                                    <a href="/admin/basics" class="text-dark">
                                        <%= number_basics %>
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto ">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr />


        <div class="row ">

            <div class="col-xl-8 col-md-12 mb-4">
                <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-dark">Ultime tre frasi e post pubblicati</h6>
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <% lastPhrases.forEach(phrase => { %>
                                <div class="col-sm-12 col-md-4 mb-4">

                                    <div class="card border-primary bg-transparent cardHome">
                                        <div class="row no-gutters">

                                            <% if (phrase.img || phrase.quoterImg) { %>
                                                <div class="col-md-12">
                                                    <% if (phrase.img) { %>
                                                        <img src="<%= phrase.img %>" class="card-img myImg" title="<%= phrase.quoterName %> <%= phrase.quoterSurname %>" alt="<%= phrase.quoterName %> <%= phrase.quoterSurname %>">
                                                        <% } else { %>
                                                            <img src="<%= phrase.quoterImg %>" class="card-img myImg" style="padding: 15px;" title="<%= phrase.quoterName %> <%= phrase.quoterSurname %>" alt="<%= phrase.quoterName %> <%= phrase.quoterSurname %>">
                                                            <% } %>
                                                </div>
                                                <% } %>

                                                    <% if (phrase.img || phrase.quoterImg) { %>
                                                        <div class="col-md-12">
                                                            <% } else { %>
                                                                <div class="col-md-12">
                                                                    <% } %>

                                                                        <div class="card-body border-primary">

                                                                            <p class="card-text pt-4 font-italic" style="color: <%= phrase.quotationMarksColor %>;">
                                                                                <i class="fas fa-quote-left"></i>
                                                                                <span class="h4">
                                                                                <%= phrase.text %>
                                                                            </span>
                                                                                <i class="fas fa-quote-right"></i>
                                                                                <% if (phrase.quoterName || phrase.quoterSurname) { %>
                                                                                    <hr>
                                                                                    <p class="font-italic" style="color: <%= phrase.quotationMarksColor %>;">
                                                                                        <%= phrase.quoterName %>
                                                                                            <%= phrase.quoterSurname %>
                                                                                                <% } %>
                                                                                    </p>
                                                                            </p>
                                                                        </div>
                                                                        <div class="card-footer bg-transparent" style="border: none;">
                                                                            <hr> Creato da
                                                                            <!-- <a href="/users/<%= phrase.authorId %>" class="text-info"> -->
                                                                            <a class="text-info">
                                                                                <%= phrase.username %>
                                                                            </a>,
                                                                            <%= phrase.dayOfPublication %>/
                                                                                <%= phrase.monthOfPublication %>/
                                                                                    <%= phrase.yearOfPublication %>
                                                                                        </small>
                                                                                        </p>
                                                                        </div>
                                                                </div>
                                                        </div>

                                        </div>
                                    </div>

                                    <% }) %>
                                </div>



                                <div class="row">
                                    <% lastPosts.forEach(post => { %>
                                        <div class="col-lg-4 col-md-6 mb-4">

                                            <div class="card bg-transparent border-primary">
                                                <div class="card-header border-primary">
                                                    <strong><%= post.title %></strong>
                                                </div>

                                                <div class="card-body">
                                                    <%= post.text %>
                                                </div>

                                                <div class="card-footer bg-transparent">
                                                    <hr> Creato da
                                                    <!-- <a href="/users/<%= post.authorId %>" class="text-info"> -->
                                                    <a class="text-info">
                                                        <%= post.username %>
                                                    </a>
                                                    <!-- </a> -->,
                                                    <%= post.dayOfPublication %>/
                                                        <%= post.monthOfPublication %>/
                                                            <%= post.yearOfPublication %>
                                                </div>

                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-md-12 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">

                                <div class="col">
                                    <div class="card shadow mb-2">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-info">Utenti attivi nelle ultime 24h</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-pie pt-4 pb-2">
                                                <canvas id="usersActivePieChart"></canvas>
                                            </div>
                                            <div style="display: none;" id="chart-dataUsersActiveToday" data-nusers="<%= number_users %>" data-nusersactive="<%= number_usersActiveToday %>"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- end of container-fluid -->
        </div>

        <!-- script only for this page -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js " integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin=" anonymous "></script>
        <script src="/js/admin/dashboard.js "></script>


        <%- include('./partials/footer') %>