<select class="selectpicker show-tick mt-4" name="role" id="role">

    <% if (userToUpdate.role) { %>
        <% if (userToUpdate.role === roles.admin) { %>
            <option value="<%= roles.admin %>" selected>Admin</option>
            <option value="<%= roles.basic %>">Basic</option>
        <% } else { %>
            <option value="<%= roles.admin %>">Admin</option>
            <option value="<%= roles.basic %>" selected>Basic</option>
             <% } %>
    <% } else { %>
        <option value="<%= roles.admin %>">Admin</option>
        <option value="<%= roles.basic %>">Basic</option>
        <% } %>
</select>