<%- include('./../partials/header') %>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center">
                <%- include('../../partials/flashMessages') %>
            </div>
        </div>


        <div class="row">


            <div class="col-12 mb-4">
                <div class="card border-right-primary shadow h-100 py-2">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold">Tabella FRASI</h6>

                        <div class="d-flex align-items-center justify-content-between">
                            <a href="/admin/phrases/create" class="text-info mr-4"><i class="fas fa-plus-square"></i> | Crea nuovo</a>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Autore</th>
                                        <th>Testo</th>
                                        <th>Immagine</th>
                                        <th>Citato da ...</th>
                                        <th>Data pubblicazione</th>
                                        <th>Likes</th>
                                        <th>Stato</th>
                                        <th>Azioni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% phrases.forEach(phrase => { %>
                                        <tr>
                                            <td>
                                                <a href="/admin/phrases/<%= phrase.id %>">
                                                    <%= phrase.id %>
                                                </a>
                                            </td>
                                            <td style="width: 25%;">
                                                <a href="/admin/users/<%= phrase.authorId %>" class="text-info">
                                                    <%= phrase.username %>
                                                </a>
                                            </td>
                                            <td style="width: 30%;">
                                                <%= phrase.text %>
                                            </td>
                                            <td style="width: 25%;">
                                                <% if (phrase.img) { %>
                                                    <div class="img-hover-zoom">
                                                        <img style="height: 150px;" title="<%= phrase.quoterName %> <%= phrase.quoterSurname %>" src="<%= phrase.img %>">
                                                    </div>
                                                    <% } else { %>
                                                        <%- include('./../partials/table/notAvailable') %>
                                                            <% } %>
                                            </td>
                                            <td style="width: 10%;">

                                                <% if (phrase.quotedById) { %>
                                                    <a href="/admin/people/<%= phrase.quotedById %>" class='linkQuoted' data-color="<%= phrase.quotationMarksColor %>">
                                                        <%= phrase.quoterName %>
                                                            <%= phrase.quoterSurname %>
                                                    </a>

                                                    <% } else { %>
                                                        <%- include('./../partials/table/notAvailable') %>
                                                            <% } %>

                                            </td>
                                            <td>
                                                <% if (phrase.yearOfPublication) { %>
                                                    <%= phrase.dayOfPublication %> /
                                                        <%= phrase.monthOfPublication %> /
                                                            <%= phrase.yearOfPublication %>
                                                                <% } else { %>
                                                                    <%- include('./../partials/table/notAvailable') %>
                                                                        <% } %>
                                            </td>
                                            <td style="width: 5%;">
                                                <% if (phrase.likes) { %>
                                                    <%= phrase.likes %> <i class="far fa-heart text-primary"></i>
                                                        <% } else { %>
                                                            <%- include('./../partials/table/notAvailable') %>
                                                                <% } %>
                                            </td>
                                            <td style="width: 3%;">
                                                <% if (phrase.isFinished == 1) { %>
                                                    <i class="fas fa-globe-europe"></i>
                                                    <% } else { %>
                                                        <i class="fas fa-lock"></i>
                                                        <% } %>
                                            </td>
                                            <td class="d-flex justify-content-between align-items-center" style="height: 180px;">
                                                <a href="/admin/phrases/<%= phrase.id %>"><i class="fas fa-edit text-info"></i></a>
                                                <form method="post" action="/admin/phrases/delete/<%= phrase.id %>?_method=DELETE">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" style="background-color: transparent; border: none;" id="myEditButton">
                                                    <i class="fas fa-trash text-primary"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <script>
        let els = document.getElementsByClassName('linkQuoted')
        Array.from(els).forEach(el => {
            el.style.color = el.dataset.color
        })
    </script>

    <%- include('./../partials/footer') %>