<%- include('./../partials/header') %>

    <div class="container-fluid">

        <div class="row">


            <div class="col-12 mb-4">
                <div class="card border-right-primary shadow h-100 py-2">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold">Tabella FRASI</h6>

                        <div class="dropdown no-arrow">
                            <!-- IE => Import/Export -->
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownIELink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownIE">
                                <!-- IMPORT -->
                                <div class="dropdown-header">(icon) Importa</div>
                                <div class="no-gutters align-items-center">
                                    <a class="dropdown-item" href="#">
                                        <div class="text-s font-weight-bold text-dark d-flex align-items-center">
                                            <i class="fas fa-file-csv fa-2x mr-3"></i>CSV
                                        </div>
                                    </a>
                                </div>

                                <!-- EXPORT -->
                                <div class="dropdown-header">(icon) Esporta</div>
                                <div class="no-gutters align-items-center">
                                    <a class="dropdown-item" href="#">
                                        <div class="text-s font-weight-bold text-dark d-flex align-items-center">
                                            <i class="fas fa-file-csv fa-2x mr-3"></i>CSV
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Autore</th>
                                        <th>Testo</th>
                                        <th>Immagine</th>
                                        <th>Citato da ...</th>
                                        <th>Data pubblicazione</th>
                                        <th>Likes</th>
                                        <th>Stato</th>
                                        <th>Azioni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- LIMITE MASSIMO DI RIGHE VISUALIZZABILI -->
                                    <% phrases.forEach(phrase => { %>
                                        <tr>
                                            <td style="width: 25%;">
                                                <a href="/admin/users/<%= phrase.authorId %>" class="text-info">
                                                    <%= phrase.username %>
                                                </a>
                                            </td>
                                            <td style="width: 30%;">
                                                <%= phrase.text %>
                                            </td>
                                            <td style="width: 25%;">
                                                <% if (phrase.img) { %>
                                                    <div class="img-hover-zoom">
                                                        <img style="height: 150px;" title="<%= phrase.quotedById %>" src="<%= phrase.img %>">
                                                    </div>
                                                    <% } else { %>
                                                        <i class="fas fa-times text-dark"></i>
                                                        <% } %>
                                            </td>
                                            <td style="width: 10%;">

                                                <% if (phrase.quotedById) { %>
                                                    <a href="/admin/people/<%= phrase.quotedById %>" class='linkQuoted' data-color="<%= phrase.quotationMarksColor %>">
                                                        <%= phrase.name %>
                                                            <%= phrase.surname %>
                                                    </a>

                                                    <% } else { %>
                                                        <i class="fas fa-times text-dark"></i>
                                                        <% } %>

                                            </td>
                                            <td>
                                                <%= phrase.date %>
                                            </td>
                                            <td style="width: 5%;">
                                                105 V
                                            </td>
                                            <td style="width: 3%;">
                                                <% if (phrase.isFinished == 1) { %>
                                                    <i class="fas fa-globe-europe"></i>
                                                    <% } else { %>
                                                        <i class="fas fa-lock"></i>
                                                        <% } %>
                                            </td>
                                            <td class="d-flex justify-content-between align-items-center" style="height: 180px;">
                                                <a href="/admin/phrases/<%= phrase.id %>"><i class="fas fa-edit text-info"></i></a>
                                                <form method="post" action="/admin/phrases/delete/<%= phrase.id %>?_method=DELETE">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" style="background-color: transparent; border: none;" id="myEditButton">
                                                    <i class="fas fa-trash text-primary"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <script>
        let els = document.getElementsByClassName('linkQuoted')
        Array.from(els).forEach(el => {
            console.log(el.dataset.color)
            el.style.color = el.dataset.color
        })
    </script>



    <!-- <script src="cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="/js/admin/tables.js"></script> -->

    <%- include('./../partials/footer') %>