<%- include('./../partials/header') %>

    <div class="container-fluid">

        <div class="col-12 mb-4">

            <div class="card border-left-secondary shadow h-100 py-2">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Crea FRASE</h6>
                </div>

                <div class="card-body">
                    <form action="/admin/phrases/create" method="POST">
                        <div class="form-group">
                            <label for="phrase">Frase <span class="text-danger">*</span></label>
                            <!-- <input type="text" class="form-control" > -->
                            <textarea class="form-control" id="phrase" name="phrase" placeholder="Inserisci qui la frase ..." style="min-height: 60px;" required></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="quotedById">Citatato da ... <span class="text-danger">*</span></label>
                            </div>
                            <select class="custom-select" id="quotedById" onchange="checkValue(this.value)">
                                <option selected>Nessuno ...</option>
                                <% quotedBy.forEach(person => { %>
                                    <!-- aggiungere l'immagine della persona !!-->
                                    <option value="<%= person.id %>"><%= person.name %> <%= person.surname %> | <i class="fas fa-file-contract fa-2x text-gray-300 "></i></option>
                                <% }); %>
                                <!-- <option value='new'>Crea uno nuovo (sei proprio sicuro di voler creare un modal???)</option> -->
                            </select>

                            <!-- <script>
                                const checkValue = param => {
                                    if (param === 'new') {
                                        console.log(param + 'opening modal ...')
                                    }
                                }
                            </script> -->
                        </div>

                        <!-- <div class="form-group col-md-6">
                            Input palette (per le quote "")
                        </div> ;; già presente nella person -->

                        <!-- slider "Utilizzare l'immagine relativa alla persona", se si switcha input type file.hidden = false; -->


                        <div class="form-group mb-3">

                            <input type="file">
                        </div>



                        <div id="form-group">
                            <button type="submit" class="btn btn-primary mb-3">icon:conferma |Conferma creazione</button>
                            <button type="submit" class="btn btn-dark mb-3">icon:bozza | Salva come bozza</button>
                        </div>


                        <div class="form-group mt-5 mb-0">
                            <span class="text-danger">*</span> È obbligatorio!
                        </div>


                    </form>

                </div>
            </div>

        </div>

        <%- include('./../partials/footer') %>