<%- include('./../partials/header') %>

    <div class="container-fluid">

        <div class="col-12 mb-4">

            <div class="card border-left-secondary shadow h-100 py-2">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Modifica FRASE</h6>
                </div>

                <div class="card-body">
                    <form action="/admin/phrases/<%= phrase.id %>" method="POST">
                        <div class="form-group">
                            <label for="text">Frase <span class="text-danger">*</span></label>
                            <!-- <input type="text" class="form-control" > -->
                            <textarea class="form-control" id="text" name="text" placeholder="Inserisci qui la frase ..." style="min-height: 60px;" required></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="quotedById">Citatato da ...&nbsp;<span class="text-danger">*</span></label>
                            </div>
                            <select class="custom-select" name="quotedById" id="quotedById" onchange="checkValue(this.value)">
                                <option selected>Nessuno ...</option>
                                <% quotedById.forEach(person => { %>
                                    <!-- aggiungere l'immagine della persona !!-->
                                    <option value="<%= person.id %>"><%= person.name %> <%= person.surname %> <!-- | <i class="fas fa-info-circle"></i> --></option>
                                <% }); %>
                                <!-- <option value='new'>Crea uno nuovo (sei proprio sicuro di voler creare un modal???)</option> -->
                            </select>

                            <!-- <script>
                                const checkValue = param => {
                                    if (param === 'new') {
                                        console.log(param + 'opening modal ...')
                                    }
                                }
                            </script> -->
                        </div>

                        <!-- <div class="form-group col-md-6">
                            Input palette (per le quote "")
                        </div> ;; già presente nella person -->

                        <!-- slider "Utilizzare l'immagine relativa alla persona", se si switcha input type file.hidden = false; -->


                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputFile"><i class="fas fa-upload"></i></span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="phraseImage" id="phraseImage" aria-describedby="inputFile">
                                <label class="custom-file-label" for="phraseImage">Selezione l'immagine</label>
                            </div>
                        </div>
                        <!-- aggiungere il nome del file caricato -->





                        <div class="form-group mt-5 mb-0">
                            <span class="text-danger">*</span> È obbligatorio!
                        </div>



                </div>
                <div class="card-footer">
                    <div id="input-group">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> |Conferma creazione</button>
                        <button type="submit" class="btn btn-dark"><i class="far fa-save"></i> | Salva come bozza</button>
                    </div>
                    </form>
                </div>

            </div>

        </div>

        <%- include('./../partials/footer') %>