<%- include('../partials/header') %>


    <div class="container-fluid">

        <div class="col-12 mb-4">

            <div class="card border-left-secondary shadow h-100 py-2">


                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Crea PERSONA</h6>
                </div>

                <div class="card-body">

                    <form action="/admin/people/create" method="POST" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Nome <span class="text-danger">*</span></label>
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="surname">Cognome <span class="text-danger">*</span></label>
                                    <input type="text" name="surname" id="surname" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dateOfBirth">Data di nascita</label>
                                    <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-7">
                                <div class="input-group mb-3">

                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="countryCode">Paese</label>
                                    </div>
                                    <!-- data-live-search-normalize : accent-insensitive searching -->
                                    <select class="selectpicker show-tick" name="countryCode" id="countryCode" data-live-search="true" data-live-search-normalize="true" data-size="6">  
                                        <option value="" selected>Nessuno ...</option>
                                        <% countries.forEach(country => { %>
                                            <option value="<%= country.alpha_2 %>"><%= country.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group mb-3">

                                    <div class="col-12 d-flex justify-content-between align-items-center mt-1">
                                        <label for="quotationMarksColor">Colore</label>
                                        <input type="color" name="quotationMarksColor" id="quotationMarksColor" value="#8A817C" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="job">Lavoro</label>
                            <input type="text" name="job" id="job" class="form-control">
                        </div>


                        <!-- <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputFile"><i class="fas fa-upload"></i></span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="image" id="image" onchange="checkFile(this)" aria-describedby="inputFile">
                                <label class="custom-file-label" for="image">Selezione l'immagine</label>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-center align-items-end">
                            <div class="col-xl-10 col-lg-12 mb-3">
                                <img id="imagePreview" src="#" style="width: 50%;" hidden>
                            </div>

                            <i class="fas fa-trash text-primary fa-2x mb-3" id="btnDeleteImage" onclick="deleteImage()" hidden></i>
                        </div> -->

                        <%- include('../partials/form/imageUpload') %>








                            <%- include('../partials/form/required') %>

                </div>
                <div class="card-footer ">
                    <div id="input-group ">
                        <button type="submit " class="btn btn-primary mb-2 "><i class="fas fa-check "></i> | Conferma creazione</button>
                        <a href="/admin/people ">
                            <button type="button " class="btn btn-dark mb-2 "><i class="fas fa-history "></i> | Annulla</button>
                        </a>
                    </div>
                    </form>
                </div>


            </div>
        </div>

    </div>

    <script src="/js/dateOfBirth.js"></script>
    <script src="/js/admin/crudPeople.js"></script>


    <%- include('../partials/footer') %>