<%- include('./../partials/header') %>

    <div class="container-fluid">

        <div class="col-12 mb-4">

            <div class="card border-left-secondary shadow h-100 py-2">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <% if (!post.title) { %>
                        <h6 class="m-0 font-weight-bold">Crea FRASE</h6>
                        <% } else { %>
                            <h6 class="m-0 font-weight-bold">Modifica FRASE</h6>
                            <% } %>
                </div>

                <div class="card-body">
                    <form action="/admin/posts/<%= formAction %>" method="POST">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">

                                    <label for="title">Titolo <%- include('../partials/form/requiredSymbol') %></label>
                                    <input type="text" name="title" id="title" placeholder="Inserire il titolo ..." class="form-control" value="<%= post.title %>" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="text">Frase <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="text" name="text" placeholder="Inserisci qui la frase ..." style="min-height: 60px;" required><%= post.text %></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="input-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="statusSwitch" name="isFinished">
                                <label class="custom-control-label" for="statusSwitch">Da pubblicare? </label>
                            </div>
                        </div>


                        <%- include('../partials/form/required') %>

                </div>
                <div class="card-footer">
                    <div id="input-group">
                        <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-check"></i> | Conferma creazione</button>
                        <a href="/admin/posts">
                            <button type="button" class="btn btn-dark mb-2"><i class="fas fa-history"></i> | Annulla</button>
                        </a>
                    </div>
                    </form>
                    <% if (post.title) { %>
                        <form action="/admin/posts/delete/<%= post.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger mb-2"><i class="fas fa-trash text-primary"></i> | Cancella</button>
                        </form>
                        <% } %>
                </div>

            </div>

        </div>


        <%- include('./../partials/footer') %>