<% phrases.forEach(phrase => { %>

    <div class="col-md-6 mb-4">

        <div class="card border-primary bg-transparent cardHome">
            <div class="row no-gutters">

                <% if (phrase.img || phrase.quoterImg) { %>
                    <div class="col-lg-7 col-md-6">
                        <% if (phrase.img) { %>
                            <img src="<%= phrase.img %>" class="card-img myImg" title="<%= phrase.quoterName %> <%= phrase.quoterSurname %>" alt="<%= phrase.quoterName %> <%= phrase.quoterSurname %>">
                            <% } else { %>
                                <img src="<%= phrase.quoterImg %>" class="card-img myImg" style="padding: 15px;" title="<%= phrase.quoterName %> <%= phrase.quoterSurname %>" alt="<%= phrase.quoterName %> <%= phrase.quoterSurname %>">
                                <% } %>
                    </div>
                    <% } %>


                        <% if (phrase.img || phrase.quoterImg) { %>
                            <div class="col-lg-5 col-md-6">
                                <% } else { %>
                                    <div class="col-md-12">
                                        <% } %>

                                            <div class="card-body border-primary">
                                                <div class="card-title">

                                                    <% if (phrase.liked == true) { %>
                                                        <form action="/unsave/phrase/<%= phrase.id %>?_method=DELETE" method="POST">
                                                            <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                                                            <i class="fas fa-heart text-primary" id="heart"></i>
                                                        </button>
                                                        </form>
                                                        <% } else { %>
                                                            <% if (user) { %>
                                                                <form action="/save/phrase/<%= phrase.id %>" method="POST">
                                                                    <button type="submit" class="btn bg-transparent heartForSaving">
                                                                <i class="far fa-heart "></i>
                                                            </button>
                                                                </form>
                                                                <% } %>
                                                                    <% } %>
                                                </div>
                                                <p class="card-text pt-4 font-italic" style="color: <%= phrase.quotationMarksColor %>;">
                                                    <i class="fas fa-quote-left"></i>
                                                    <span class="h4">
                                                    <%= phrase.text %>
                                                </span>
                                                    <i class="fas fa-quote-right"></i>
                                                    <% if (phrase.quoterName || phrase.quoterSurname) { %>
                                                        <hr>
                                                        <p class="font-italic" style="color: <%= phrase.quotationMarksColor %>;">
                                                            <%= phrase.quoterName %>
                                                                <%= phrase.quoterSurname %>
                                                                    <% } %>
                                                        </p>
                                                </p>
                                            </div>
                                            <div class="card-footer bg-transparent" style="border: none;">
                                                <hr> Creato da
                                                <a href="/users/<%= phrase.authorId %>" class="text-info">
                                                    <%= phrase.username %>
                                                </a>,
                                                <%= phrase.dayOfPublication %>/
                                                    <%= phrase.monthOfPublication %>/
                                                        <%= phrase.yearOfPublication %>
                                                            </small>
                                                            </p>
                                            </div>
                                    </div>

                            </div>

            </div>
        </div>
        <% }) %>