<% posts.forEach(post => { %>

    <div class="col-md-4 mb-4">

        <div class="card cardHome">
            <div class="card-header">
                <strong><%= post.title %></strong>

                <% if (post.liked == true) { %>
                    <form action="/unsave/post/<%= post.id %>?_method=DELETE" method="POST">
                        <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                            <i class="fas fa-heart text-primary" id="heart"></i>
                        </button>
                    </form>
                    <% } else { %>
                        <% if (user) { %>
                            <form action="/save/post/<%= post.id %>" method="POST">
                                <button type="submit" class="btn bg-transparent heartForSaving">
                                    <i class="far fa-heart"></i>
                                </button>
                            </form>
                            <% } %>
                                <% } %>
            </div>

            <div class="card-body">
                <%= post.text %>
            </div>

            <div class="card-footer">
                <hr> Creato da
                <a href="/users/<%= post.authorId %>" class="text-info">
                    <%= post.username %>
                </a>,
                <%= post.dayOfPublication %>/
                    <%= post.monthOfPublication %>/
                        <%= post.yearOfPublication %>
            </div>

        </div>
    </div>
    <% }) %>