<!-- <!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body> -->
<%- include('./partials/header') %>

    <div class="container-fluid" style="height: 100%;">





        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <%- language.main.intro %>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <%- include('../partials/flashMessages') %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card border-primary bg-transparent cardHome">
                    <div class="card-header border-primary">
                        <strong>What?</strong>
                    </div>
                    <div class="card-body text-center">
                        Piattaforma finalizzata al relax, alla motivazione e al conforto.<br>Ognuno può salvare quello che gli piace nella raccolta dedicata <a class="font-italic" href="/saved">preferiti</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card cardHome border-primary bg-transparent">
                    <div class="card-header border-primary">
                        <strong>Why?</strong>
                    </div>
                    <div class="card-body text-center bg-transparent">
                        Nata a seguito di un processo di introspezione maturato negli ultimi mesi
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card cardHome border-primary bg-transparent">

                    <% if (user) { %>
                        <div class="card-header border-primary">
                            <i class="fas fa-space-shuttle text-info"></i>&nbsp;<strong>Hai già effettuato l'accesso</strong>
                        </div>
                        <div class="card-body">
                            Buon divertimento! <i class="far fa-heart text-primary"></i>
                        </div>
                        <% } else { %>
                            <div class="card-header border-primary">
                                <i class="fas fa-space-shuttle text-info"></i>&nbsp;<strong>Inizia da qui</strong>
                            </div>
                            <div class="card-body">
                                Da <a href="/register">qui</a> puoi procedere creando il tuo personale account
                            </div>
                            <% } %>

                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12">
                <div class="card cardHome border-primary bg-transparent">
                    <div class="card-header border-primary">
                        Pubblicazioni recenti
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-6 mb-4">

                                <div class="card border-primary bg-transparent cardHome">
                                    <div class="row no-gutters">

                                        <% if (lastPhrase.img || lastPhrase.quoterImg) { %>
                                            <div class="col-lg-7 col-md-12">
                                                <% if (lastPhrase.img) { %>
                                                    <img src="<%= lastPhrase.img %>" class="card-img myImg" title="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>" alt="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>">
                                                    <% } else { %>
                                                        <img src="<%= lastPhrase.quoterImg %>" class="card-img myImg" style="padding: 15px;" title="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>" alt="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>">
                                                        <% } %>
                                            </div>
                                            <% } %>


                                                <% if (lastPhrase.img || lastPhrase.quoterImg) { %>
                                                    <div class="col-lg-5 col-md-12">
                                                        <% } else { %>
                                                            <div class="col-md-12">
                                                                <% } %>

                                                                    <div class="card-body border-primary">
                                                                        <div class="card-title">

                                                                            <% if (lastPhrase.liked == true) { %>
                                                                                <form action="/unsave/phrase/<%= lastPhrase.id %>?_method=DELETE" method="POST">
                                                                                    <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                                                                                    <i class="fas fa-heart text-primary" id="heart"></i>
                                                                                </button>
                                                                                </form>
                                                                                <% } else { %>
                                                                                    <% if (user) { %>
                                                                                        <form action="/save/phrase/<%= lastPhrase.id %>" method="POST">
                                                                                            <button type="submit" class="btn bg-transparent heartForSaving">
                                                                                        <i class="far fa-heart "></i>
                                                                                    </button>
                                                                                        </form>
                                                                                        <% } %>
                                                                                            <% } %>
                                                                        </div>
                                                                        <p class="card-text pt-4 font-italic" style="color: <%= lastPhrase.quotationMarksColor %>;">
                                                                            <i class="fas fa-quote-left"></i>
                                                                            <span class="h4">
                                                                            <%= lastPhrase.text %>
                                                                        </span>
                                                                            <i class="fas fa-quote-right"></i>
                                                                            <% if (lastPhrase.quoterName || lastPhrase.quoterSurname) { %>
                                                                                <hr>
                                                                                <p class="font-italic" style="color: <%= lastPhrase.quotationMarksColor %>;">
                                                                                    <%= lastPhrase.quoterName %>
                                                                                        <%= lastPhrase.quoterSurname %>
                                                                                            <% } %>
                                                                                </p>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer bg-transparent" style="border: none;">
                                                                        <hr> Creato da
                                                                        <!-- <a href="/users/<%= lastPhrase.authorId %>" class="text-info"> -->
                                                                        <a class="text-info">
                                                                            <%= lastPhrase.username %>
                                                                        </a>,
                                                                        <%= lastPhrase.dayOfPublication %>/
                                                                            <%= lastPhrase.monthOfPublication %>/
                                                                                <%= lastPhrase.yearOfPublication %>
                                                                                    </small>
                                                                                    </p>
                                                                    </div>
                                                            </div>

                                                    </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6 mb-4">

                                    <div class="card cardHome bg-transparent border-primary">
                                        <div class="card-header border-primary">
                                            <strong class="text-primary"><%= lastPost.title %></strong>

                                            <% if (lastPost.liked == true) { %>
                                                <form action="/unsave/post/<%= lastPost.id %>?_method=DELETE" method="POST">
                                                    <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                                                            <i class="fas fa-heart text-primary" id="heart"></i>
                                                        </button>
                                                </form>
                                                <% } else { %>
                                                    <% if (user) { %>
                                                        <form action="/save/post/<%= lastPost.id %>" method="POST">
                                                            <button type="submit" class="btn bg-transparent heartForSaving">
                                                                    <i class="far fa-heart"></i>
                                                                </button>
                                                        </form>
                                                        <% } %>
                                                            <% } %>
                                        </div>

                                        <div class="card-body bg-transparent" style="color: #E0E0E0;">
                                            <%= lastPost.text %>
                                        </div>

                                        <div class="card-footer bg-transparent">
                                            <hr> Creato da
                                            <!-- <a href="/users/<%= lastPost.authorId %>" class="text-info"> -->
                                            <a class="text-info">
                                                <%= lastPost.username %>
                                            </a>,
                                            <%= lastPost.dayOfPublication %>/
                                                <%= lastPost.monthOfPublication %>/
                                                    <%= lastPost.yearOfPublication %>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>

        </div>

        <%- include('./partials/footer') %>