<%- include('./partials/header') %>

    <div class="container-fluid" style="height: 100%;">

        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <%- language.main.intro %>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <%- include('../partials/flashMessages') %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card border-primary bg-transparent cardHome">
                    <div class="card-header border-primary">
                        <strong><%- language.main.what.title %></strong>
                    </div>
                    <div class="card-body text-center">
                        <%- language.main.what.text %>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card cardHome border-primary bg-transparent">
                    <div class="card-header border-primary">
                        <strong><%- language.main.why.title %></strong>
                    </div>
                    <div class="card-body text-center bg-transparent">
                        <%- language.main.why.text %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card cardHome border-primary bg-transparent">

                    <% if (user) { %>
                        <div class="card-header border-primary">
                            <i class="fas fa-space-shuttle text-info"></i>&nbsp;<strong><%- language.main.alreadySignIn.yes.title %></strong>
                        </div>
                        <div class="card-body">
                            <%- language.main.alreadySignIn.yes.text %><i class="far fa-heart text-primary"></i>
                        </div>
                        <% } else { %>
                            <div class="card-header border-primary">
                                <i class="fas fa-space-shuttle text-info"></i>&nbsp;<strong><%- language.main.alreadySignIn.no.title %></strong>
                            </div>
                            <div class="card-body">
                                <%- language.main.alreadySignIn.no.text %>
                            </div>
                            <% } %>

                </div>
            </div>
        </div>

        <hr>


        <div class="row">
            <div class="col-12">
                <div class="card cardHome border-primary bg-transparent">
                    <div class="card-header border-primary">
                        <%- language.main.recentPublications %>
                    </div>
                    <div class="card-body">

                        <% if (lastPhrase) { %>
                            <div class="row">

                                <div class="col-md-6 mb-4">

                                    <div class="card border-primary bg-transparent cardHome">
                                        <div class="row no-gutters">



                                            <% if (lastPhrase.img || lastPhrase.quoterImg) { %>
                                                <div class="col-lg-7 col-md-12">
                                                    <% if (lastPhrase.img) { %>
                                                        <img src="<%= lastPhrase.img %>" class="card-img myImg" title="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>" alt="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>">
                                                        <% } else { %>
                                                            <img src="<%= lastPhrase.quoterImg %>" class="card-img myImg" style="padding: 15px;" title="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>" alt="<%= lastPhrase.quoterName %> <%= lastPhrase.quoterSurname %>">
                                                            <% } %>
                                                </div>
                                                <% } %>


                                                    <% if (lastPhrase.img || lastPhrase.quoterImg) { %>
                                                        <div class="col-lg-5 col-md-12">
                                                            <% } else { %>
                                                                <div class="col-md-12">
                                                                    <% } %>

                                                                        <div class="card-body border-primary">
                                                                            <div class="card-title">

                                                                                <% if (lastPhrase.liked == true) { %>
                                                                                    <form action="/unsave/phrase/<%= lastPhrase.id %>?_method=DELETE" method="POST">
                                                                                        <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                                                                                        <i class="fas fa-heart text-primary" id="heart"></i>
                                                                                    </button>
                                                                                    </form>
                                                                                    <% } else { %>
                                                                                        <% if (user) { %>
                                                                                            <form action="/save/phrase/<%= lastPhrase.id %>" method="POST">
                                                                                                <button type="submit" class="btn bg-transparent heartForSaving">
                                                                                            <i class="far fa-heart "></i>
                                                                                        </button>
                                                                                            </form>
                                                                                            <% } %>
                                                                                                <% } %>
                                                                            </div>
                                                                            <p class="card-text pt-4 font-italic" style="color: <%= lastPhrase.quotationMarksColor %>;">
                                                                                <i class="fas fa-quote-left"></i>
                                                                                <span class="h4">
                                                                                <%= lastPhrase.text %>
                                                                            </span>
                                                                                <i class="fas fa-quote-right"></i>
                                                                                <% if (lastPhrase.quoterName || lastPhrase.quoterSurname) { %>
                                                                                    <hr>
                                                                                    <p class="font-italic" style="color: <%= lastPhrase.quotationMarksColor %>;">
                                                                                        <%= lastPhrase.quoterName %>
                                                                                            <%= lastPhrase.quoterSurname %>
                                                                                                <% } %>
                                                                                    </p>
                                                                            </p>
                                                                        </div>
                                                                        <div class="card-footer bg-transparent" style="border: none;">
                                                                            <hr>
                                                                            <%- language.main.createdBy %>
                                                                                <a class="text-info">
                                                                                    <%= lastPhrase.username %>
                                                                                </a>,
                                                                                <%= lastPhrase.dayOfPublication %>/
                                                                                    <%= lastPhrase.monthOfPublication %>/
                                                                                        <%= lastPhrase.yearOfPublication %>
                                                                                            </small>
                                                                                            </p>
                                                                        </div>
                                                                </div>

                                                        </div>

                                        </div>
                                    </div>
                                    <% } %>

                                        <% if (lastPost) { %>
                                            <div class="col-sm-12 col-md-6 mb-4">

                                                <div class="card cardHome bg-transparent border-primary">
                                                    <div class="card-header border-primary">
                                                        <strong class="text-primary"><%= lastPost.title %></strong>

                                                        <% if (lastPost.liked == true) { %>
                                                            <form action="/unsave/post/<%= lastPost.id %>?_method=DELETE" method="POST">
                                                                <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                                                                    <i class="fas fa-heart text-primary" id="heart"></i>
                                                                </button>
                                                            </form>
                                                            <% } else { %>
                                                                <% if (user) { %>
                                                                    <form action="/save/post/<%= lastPost.id %>" method="POST">
                                                                        <button type="submit" class="btn bg-transparent heartForSaving">
                                                                            <i class="far fa-heart"></i>
                                                                        </button>
                                                                    </form>
                                                                    <% } %>
                                                                        <% } %>
                                                    </div>

                                                    <div class="card-body bg-transparent" style="color: #E0E0E0;">
                                                        <%= lastPost.text %>
                                                    </div>

                                                    <div class="card-footer bg-transparent">
                                                        <hr>
                                                        <%- language.main.createdBy %>
                                                            <a class="text-info">
                                                                <%= lastPost.username %>
                                                            </a>,
                                                            <%= lastPost.dayOfPublication %>/
                                                                <%= lastPost.monthOfPublication %>/
                                                                    <%= lastPost.yearOfPublication %>
                                                    </div>

                                                </div>

                                            </div>
                                            <% } %>

                                </div>

                            </div>
                    </div>
                </div>
            </div>
            <br>
            <br>

        </div>



        <%- include('./partials/footer') %>