<%- include('./partials/header') %>

    <div class="container-fluid" style="height: 100%;">

        <%- include('../partials/flashMessages') %>

            <%- include('./partials/headerEntities') %>

                <p>AGGIUNGERE RICERCA E FILTRO</p>

                <!-- <div class="row"> -->


                <div class="row">
                    <% if (phrases.length) { %>

                        <%- include('./partials/phrases/cards') %>

                            <% } else { %>
                                <%- include('./partials/noEntities') %>
                                    <% } %>
                </div>


                <!-- </div> -->
    </div>

    <%- include('./partials/footer') %>