<%- include('./partials/header') %>

    <div class="container-fluid" style="height: 100%;">

        <%- include('../partials/flashMessages') %>

            <%- include('./partials/headerEntities') %>

                <p>AGGIUNGERE RICERCA E FILTRO</p>

                <div class="row">

                    <% if (phrases.length) { %>
                        <% phrases.forEach(phrase => { %>

                            <p>PISTOLA MANCANO LE VIRGOLETTE COLORATE!!</p>
                            <div class="col-md-6 mb-4">

                                <div class="card border-primary bg-transparent cardHome">
                                    <div class="row no-gutters">

                                        <div class="col-md-5">
                                            <img src="<%= phrase.img %>" class="card-img img-hover-zoom" style="padding: 15px;" title="<%= phrase.name %>" alt="<%= phrase.name %>">
                                        </div>

                                        <div class="col-md-7">
                                            <div class="card-body border-primary">
                                                <div class="card-title">
                                                    <form action="/save/phrase/<%= phrase.id %>" method="POST">
                                                        <button type="submit" class="btn bg-transparent heartForSaving">
                                                            <i class="far fa-heart"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <p class="card-text pt-4">
                                                    <%= phrase.text %>
                                                </p>
                                            </div>
                                            <div class="card-footer bg-transparent" style="border: none;">
                                                <hr> Creato da
                                                <a href="/users/<%= phrase.authorId %>" class="text-info">
                                                    <%= phrase.username %>
                                                </a>,
                                                <%= phrase.dayOfPublication %>/
                                                    <%= phrase.monthOfPublication %>/
                                                        <%= phrase.yearOfPublication %>
                                                            </small>
                                                            </p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <%- include('./partials/noEntities') %>
                                        <% } %>


                </div>

                <br>
                <br>
    </div>

    <%- include('./partials/footer') %>