<%- include('./partials/header') %>

    <div class="container-fluid" style="height: 100%;">

        <%- include('../partials/flashMessages') %>

            <%- include('./partials/headerEntities') %>


                <div class="row">

                    <% if (posts.length) { %>
                        <%- include('./partials/posts/cards') %>
                            <% } else { %>
                                <%- include('./partials/noEntities') %>
                                    <% } %>


                </div>

                <br>
                <br>
    </div>

    <%- include('./partials/footer') %>