<%- include('./partials/header') %>

    <div class="container-fluid" style="height: 100%;">

        <%- include('../partials/flashMessages') %>

            <%- include('./partials/headerEntities') %>

                <p>AGGIUNGERE RICERCA E FILTRO</p>

                <h3>Frasi</h3>
                <div class="row">

                    <% if (phrases.length) { %>
                        <% phrases.forEach(phrase => { %>

                            <div class="col-md-6 mb-4">

                                <div class="card border-primary bg-transparent cardHome">
                                    <div class="row no-gutters">
                                        <% if (phrase.img || phrase.quoterImg) { %>
                                            <div class="col-md-5">
                                                <% if (phrase.img) { %>
                                                    <img src="<%= phrase.img %>" class="card-img img-hover-zoom" style="padding: 15px;" title="<%= phrase.quoterName %> <%= phrase.quoterSurname %>" alt="<%= phrase.quoterName %> <%= phrase.quoterSurname %>">
                                                    <% } else { %>
                                                        <img src="<%= phrase.quoterImg %>" class="card-img img-hover-zoom" style="padding: 15px;" title="<%= phrase.quoterName %> <%= phrase.quoterSurname %>" alt="<%= phrase.quoterName %> <%= phrase.quoterSurname %>">
                                                        <% } %>
                                            </div>
                                            <% } %>

                                                <% if (phrase.img || phrase.quoterImg) { %>
                                                    <div class="col-md-7">
                                                        <% } else { %>
                                                            <div class="col-md-12">
                                                                <% } %>
                                                                    <div class="card-body border-primary">
                                                                        <div class="card-title">
                                                                            <form action="/unsave/phrase/<%= phrase.id %>?_method=DELETE" method="POST">
                                                                                <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                                                                                    <i class="fas fa-heart text-primary" id="heart"></i>
                                                                                </button>
                                                                            </form>



                                                                        </div>
                                                                        <h5 class="card-text pt-4 font-italic" style="color: <%= phrase.quotationMarksColor %>;">
                                                                            <i class="fas fa-quote-left"></i>
                                                                            <%= phrase.text %>
                                                                                <i class="fas fa-quote-right"></i>
                                                                        </h5>


                                                                        <p class="card-text pt-4 font-italic" style="color: <%= phrase.quotationMarksColor %>;">
                                                                            <i class="fas fa-quote-left"></i>
                                                                            <span class="h5">
                                                                                <%= phrase.text %>
                                                                            </span>
                                                                            <i class="fas fa-quote-right"></i>
                                                                        </p>


                                                                    </div>
                                                                    <div class="card-footer bg-transparent" style="border: none;">
                                                                        <hr> Creato da
                                                                        <a href="/users/<%= phrase.authorId %>" class="text-info">
                                                                            <%= phrase.username %>
                                                                        </a>,
                                                                        <%= phrase.dayOfPublication %>/
                                                                            <%= phrase.monthOfPublication %>/
                                                                                <%= phrase.yearOfPublication %>
                                                                                    </small>
                                                                                    </p>
                                                                    </div>
                                                            </div>

                                                    </div>

                                    </div>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <%- include('./partials/noEntities') %>
                                            <% } %>


                            </div>

                            <hr>

                            <h3>Post</h3>
                            <div class="row">

                                <% if (posts.length) { %>
                                    <% posts.forEach(post => { %>



                                        <div class="col-md-4 mb-4">

                                            <div class="card cardHome">
                                                <div class="card-header">
                                                    <strong><%= post.title %></strong>
                                                    <form action="/unsave/post/<%= post.id %>?_method=DELETE" method="POST">
                                                        <button type="submit" name="_method" class="btn bg-transparent heartForSaving">
                                                <i class="fas fa-heart text-primary" id="heart"></i>
                                            </button>
                                                    </form>
                                                </div>

                                                <div class="card-body">
                                                    <%= post.text %>
                                                </div>

                                                <div class="card-footer">
                                                    <hr> Creato da
                                                    <a href="/users/<%= post.authorId %>" class="text-info">
                                                        <%= post.username %>
                                                    </a>,
                                                    <%= post.dayOfPublication %>/
                                                        <%= post.monthOfPublication %>/
                                                            <%= post.yearOfPublication %>
                                                </div>

                                            </div>

                                            <% }) %>
                                                <% } else { %>
                                                    <%- include('./partials/noEntities') %>
                                                        <% } %>
                                        </div>

                                        <br>
                                        <br>
                            </div>

                            <%- include('./partials/footer') %>